<div class="container posts-page">
  <div class="row">
    <div class="info">
      <a target="_new" ng-href="{{ podcast.po_url }}">
        {{ podcast.po_name }}
        <span class="url">({{ podcast.po_url | hostnameFromUrl }})</span>
      </a>
    </div>
    <div>
      <span>
        
      </span>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div ng-repeat="episode in episodes | orderBy:predicate" class="post row">
    <div class="col-md-9 col-xs-11">
      <p>{{ episode.ep_pubdate | date:'MMM d, yyyy' }}</p>
      <p>{{ episode.ep_name }}</p>
      <p>{{ episode.ep_duration | duration }}</p>
    </div>
  </div>
</div>